:root {
    --red-bulb-color: #f00613;
    --pink-bulb-color: #f405b6;
    --blue-bulb-color: #1055f1;
    --turquoise-bulb-color: #09bffe;
    --mint-bulb-color: #02de84;
    --green-bulb-color: #04d406;
    --yellow-bulb-color: #ffe22e;
    --orange-bulb-color: #fa7403;
  }
.min-width-half {
    min-width: 50%;
}
.bulb-color-red {
    background-color: var(--red-bulb-color);
}
.bulb-color-pink {
    background-color: var(--pink-bulb-color);
}
.bulb-color-blue {
    background-color: var(--blue-bulb-color);
}
.bulb-color-turquoise {
    background-color: var(--turquoise-bulb-color);
}
.bulb-color-mint {
    background-color: var(--mint-bulb-color);
}
.bulb-color-green {
    background-color: var(--green-bulb-color);
}
.bulb-color-yellow {
    background-color: var(--yellow-bulb-color);
}
.bulb-color-orange {
    background-color: var(--orange-bulb-color);
}

@keyframes filter-animation-red {
    0% {filter: none;}
    20% {filter: brightness(1.1) contrast(1.75) blur(0px); box-shadow: 0 0 0 1px var(--red-bulb-color);}
    40% {filter: brightness(1.15) contrast(1.75) blur(1px); box-shadow: 0 0 0 2px var(--red-bulb-color);}
    45% {filter: brightness(1.2) contrast(1.75) blur(2px); box-shadow: 0 0 0 3px var(--red-bulb-color);}
    55% {filter: brightness(1.2) contrast(1.75) blur(2px); box-shadow: 0 0 0 3px var(--red-bulb-color);}
    60% {filter: brightness(1.15) contrast(1.75) blur(1px); box-shadow: 0 0 0 2px var(--red-bulb-color);}
    80% {filter: brightness(1.1) contrast(1.75) blur(0px); box-shadow: 0 0 0 1px var(--red-bulb-color);}
    100% {filter: none;}
}

@keyframes filter-animation-pink {
    0% {filter: none;}
    20% {filter: brightness(1.1) contrast(1.75) blur(0px); box-shadow: 0 0 0 1px var(--pink-bulb-color);}
    40% {filter: brightness(1.15) contrast(1.75) blur(1px); box-shadow: 0 0 0 2px var(--pink-bulb-color);}
    45% {filter: brightness(1.2) contrast(1.75) blur(2px); box-shadow: 0 0 0 3px var(--pink-bulb-color);}
    55% {filter: brightness(1.2) contrast(1.75) blur(2px); box-shadow: 0 0 0 3px var(--pink-bulb-color);}
    60% {filter: brightness(1.15) contrast(1.75) blur(1px); box-shadow: 0 0 0 2px var(--pink-bulb-color);}
    80% {filter: brightness(1.1) contrast(1.75) blur(0px); box-shadow: 0 0 0 1px var(--pink-bulb-color);}
    100% {filter: none;}
}

@keyframes filter-animation-blue {
    0% {filter: none;}
    20% {filter: brightness(1.1) contrast(1.75) blur(0px); box-shadow: 0 0 0 1px var(--blue-bulb-color);}
    40% {filter: brightness(1.15) contrast(1.75) blur(1px); box-shadow: 0 0 0 2px var(--blue-bulb-color);}
    45% {filter: brightness(1.2) contrast(1.75) blur(2px); box-shadow: 0 0 0 3px var(--blue-bulb-color);}
    55% {filter: brightness(1.2) contrast(1.75) blur(2px); box-shadow: 0 0 0 3px var(--blue-bulb-color);}
    60% {filter: brightness(1.15) contrast(1.75) blur(1px); box-shadow: 0 0 0 2px var(--blue-bulb-color);}
    80% {filter: brightness(1.1) contrast(1.75) blur(0px); box-shadow: 0 0 0 1px var(--blue-bulb-color);}
    100% {filter: none;}
}

@keyframes filter-animation-turquoise {
    0% {filter: none;}
    20% {filter: brightness(1.1) contrast(1.75) blur(0px); box-shadow: 0 0 0 1px var(--turquoise-bulb-color);}
    40% {filter: brightness(1.15) contrast(1.75) blur(1px); box-shadow: 0 0 0 2px var(--turquoise-bulb-color);}
    45% {filter: brightness(1.2) contrast(1.75) blur(2px); box-shadow: 0 0 0 3px var(--turquoise-bulb-color);}
    55% {filter: brightness(1.2) contrast(1.75) blur(2px); box-shadow: 0 0 0 3px var(--turquoise-bulb-color);}
    60% {filter: brightness(1.15) contrast(1.75) blur(1px); box-shadow: 0 0 0 2px var(--turquoise-bulb-color);}
    80% {filter: brightness(1.1) contrast(1.75) blur(0px); box-shadow: 0 0 0 1px var(--turquoise-bulb-color);}
    100% {filter: none;}
}

@keyframes filter-animation-mint {
    0% {filter: none;}
    20% {filter: brightness(1.1) contrast(1.75) blur(0px); box-shadow: 0 0 0 1px var(--mint-bulb-color);}
    40% {filter: brightness(1.15) contrast(1.75) blur(1px); box-shadow: 0 0 0 2px var(--mint-bulb-color);}
    45% {filter: brightness(1.2) contrast(1.75) blur(2px); box-shadow: 0 0 0 3px var(--mint-bulb-color);}
    55% {filter: brightness(1.2) contrast(1.75) blur(2px); box-shadow: 0 0 0 3px var(--mint-bulb-color);}
    60% {filter: brightness(1.15) contrast(1.75) blur(1px); box-shadow: 0 0 0 2px var(--mint-bulb-color);}
    80% {filter: brightness(1.1) contrast(1.75) blur(0px); box-shadow: 0 0 0 1px var(--mint-bulb-color);}
    100% {filter: none;}
}

@keyframes filter-animation-green {
    0% {filter: none;}
    20% {filter: brightness(1.1) contrast(1.75) blur(0px); box-shadow: 0 0 0 1px var(--green-bulb-color);}
    40% {filter: brightness(1.15) contrast(1.75) blur(1px); box-shadow: 0 0 0 2px var(--green-bulb-color);}
    45% {filter: brightness(1.2) contrast(1.75) blur(2px); box-shadow: 0 0 0 3px var(--green-bulb-color);}
    55% {filter: brightness(1.2) contrast(1.75) blur(2px); box-shadow: 0 0 0 3px var(--green-bulb-color);}
    60% {filter: brightness(1.15) contrast(1.75) blur(1px); box-shadow: 0 0 0 2px var(--green-bulb-color);}
    80% {filter: brightness(1.1) contrast(1.75) blur(0px); box-shadow: 0 0 0 1px var(--green-bulb-color);}
    100% {filter: none;}
}

@keyframes filter-animation-yellow {
    0% {filter: none;}
    20% {filter: brightness(1.1) contrast(1.75) blur(0px); box-shadow: 0 0 0 1px var(--yellow-bulb-color);}
    40% {filter: brightness(1.15) contrast(1.75) blur(1px); box-shadow: 0 0 0 2px var(--yellow-bulb-color);}
    45% {filter: brightness(1.2) contrast(1.75) blur(2px); box-shadow: 0 0 0 3px var(--yellow-bulb-color);}
    55% {filter: brightness(1.2) contrast(1.75) blur(2px); box-shadow: 0 0 0 3px var(--yellow-bulb-color);}
    60% {filter: brightness(1.15) contrast(1.75) blur(1px); box-shadow: 0 0 0 2px var(--yellow-bulb-color);}
    80% {filter: brightness(1.1) contrast(1.75) blur(0px); box-shadow: 0 0 0 1px var(--yellow-bulb-color);}
    100% {filter: none;}
}

@keyframes filter-animation-orange {
    0% {filter: none;}
    20% {filter: brightness(1.1) contrast(1.75) blur(0px); box-shadow: 0 0 0 1px var(--orange-bulb-color);}
    40% {filter: brightness(1.15) contrast(1.75) blur(1px); box-shadow: 0 0 0 2px var(--orange-bulb-color);}
    45% {filter: brightness(1.2) contrast(1.75) blur(2px); box-shadow: 0 0 0 3px var(--orange-bulb-color);}
    55% {filter: brightness(1.2) contrast(1.75) blur(2px); box-shadow: 0 0 0 3px var(--orange-bulb-color);}
    60% {filter: brightness(1.15) contrast(1.75) blur(1px); box-shadow: 0 0 0 2px var(--orange-bulb-color);}
    80% {filter: brightness(1.1) contrast(1.75) blur(0px); box-shadow: 0 0 0 1px var(--orange-bulb-color);}
    100% {filter: none;}
}